requests<=2.27.1
PyYAML>=5.4

# AWS
awscli<=1.22.97
boto3<=1.21.42

# GCP: https://cloud.google.com/python/docs/reference
google-api-python-client<=2.30.0
google-cloud-storage<=1.25.0
google-cloud-functions<=1.6.0
google-cloud-api-gateway<=1.2.1

# Testing
pytest<=7.0.1
#swagger-spec-validator>=2.0.2

# Debugging
ipython<=7.34.0
ipdb<=0.13.13
pudb<=2.22.1.3
